// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.ranking, .latest {
  .nav-item {
    .nav-link.active {
      color: #1b5e20;
    }
    .nav-link.unactive {
      color: #495057;
    }
  }
}

.ranking-items, .latest-items, .search-items {
  font-size: 0;

  .item {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;

    .item_user a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 1rem;
      color: #444;
    }
    .item_user-img {
      margin-right: 5px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    .item_title {
      color: rgba(0, 0, 0, 0.9);
      font-weight: bold;
      font-size: 1.2rem;
    }
    .item_released-at {
      margin-right: 10px;
      font-size: 1rem;
      color: #444;
    }
    .item_votes {
      font-size: 1rem;
      color: #444;
    }
  }

  .not-found {
    margin: 10px;
    font-size: 1.2rem;
  }
}

.search {
  .search__title {
    padding-bottom: 5px;
    border-bottom: 1px solid #dee2e6;
    font-size: 1.25rem;
    color: #444;

    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
}