<section class="ranking">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">週間いいねランキング</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">最新の記事</a>
    </li>
  </ul>
  <div class="ranking-items">
    <div class="ranking-items__item">
      <div class="ranking-items__item_user">
        <a href="#">
          <img class="ranking-items__item_user-img" src="https://qiita-user-profile-images.imgix.net/https%3A%2F%2Fs3-ap-northeast-1.amazonaws.com%2Fqiita-image-store%2F0%2F352836%2F438876670a8b54d1ca2fc0832ab87d1da21e50ae%2Fx_large.png%3F1572618152?ixlib=rb-1.2.2&auto=compress%2Cformat&lossless=0&w=48&s=b0bca140bb4e17d78a998aac8f80e05e">
          <span class="ranking-items__item_user-name">TakuyaHanada</span>
        </a>
      </div>
      <div>
        <a class="ranking-items__item_title" href="#">奨学金返済についてのHowTo</a>
      </div>
      <div>
        <span class="ranking-items__item_released-at">公開日:2019-11-14</span>
        <span class="ranking-items__item_votes">いいね:112</span>
      </div>
    </div>
  </div>
</section>